body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0, 0.1);

}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height:25px;
    margin: 10px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: #f0f0f0;
}

.sidebar{
    position: fixed;
    top: o;
    right: 0;
    height: 100vh;
    width:250px;
    z-index: 999;
    background-color: rgb(255,255,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px p 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a{
    width: 100%;
}

#symbol{
    color: black;
}

.menu-button{
    display: none;
}

@media(max-width: 350px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

.container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
}

.box {
    border-radius: 7px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.gradient {
    background: linear-gradient(45deg, purple, magenta);
    width: 30%;
    height: auto;
}

.logo {
    max-width: 30%;
    height: auto;
    border-radius: 15px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.grid-container {
    width: 30%;
    height: auto;
    background: white;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.square {
    background-color: blue;
    width: 100%;
    padding-top: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 7px;
}

#last-square {
    background-color: green;
}

.square.red {
    background-color: red ;
}

@media(min-width: 300px) and (max-width: 740px){
    .container {
        width: 100%;
        height: 740px;;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        flex-direction: row;
    }
    
    .gradient {
        background: linear-gradient(45deg, purple, magenta);
        width: 80%;
        height: 40%;
    }
    
    .logo {
        max-width: 30%;
        height: 40%;
        border-radius: 15px;
    }
    
    
    .grid-container {
        width: 30%;
        height: 40%;
        background: white;
        box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    
}

@media(max-width: 300px){
    .container {
        width: 100%;
        height: 100%;;
        display: flex;
        flex-wrap: nowrap;
        padding: 20px;
        flex-direction: column-reverse;
        justify-content: center;
    }
    
    .gradient {
        background: linear-gradient(45deg, purple, magenta);
        width: 80%;
        height: 200px;
    }
    
    .logo {
        max-width: 80%;
        height: 25%;
        border-radius: 15px;
    }
    
    
    .grid-container {
        width: 80%;
        height: 25%;
        background: white;
        box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    
}

.squid-theme {
    background-image: url('theme.jpeg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.profile-card {
    border: 2px solid white;
    padding: 20px;
    border-radius: 15px;
}
.profile-pic {
    border-radius: 50%;
    max-width: 150px;
    margin-bottom: 20px;
}
.btn {
    display: inline-block;
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
}
.btn:hover {
    background-color: darkred;
}
